.message_send {
    -fx-background-color: grey;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

.text {
    -fx-font-family: Segoe UI;
    -fx-font-size: 16;
    -fx-text-fill: black;
}

.message_receive {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

.h-box {
    -fx-spacing: 10;
    -fx-alignment: bottom-right;
    -fx-padding: 10 0 5 0;
}

.h-box-rec {
    -fx-spacing: 10;
    -fx-alignment: bottom-left;
    -fx-padding: 10 0 5 10;
}

.text-field {
    -fx-focus-color: #CFD3D3;
    -fx-faint-focus-color: #CFD3D322;
}

.like {

}
.like:hover {
    -fx-cursor: hand;
}


.scroll-pane {
    -fx-background-color: white;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-padding: 0;
    -fx-pref-width: 10;
    -fx-opacity: 0.3;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #888888;
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #555555;
    -fx-opacity: 0.5;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #333333;
    -fx-opacity: 0.5;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.scroll-pane .scroll-bar:vertical:hover,
.scroll-pane .scroll-bar:vertical:pressed,
.scroll-pane .scroll-bar:vertical:focused {
    -fx-opacity: 1;
}